.box-black{
    height: auto;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 10px;
    
    
    
   
}
